*{
	font-family:sans-serif;
}
body {
  height: 100%;
  width: 100%;
 text-align: center;
	padding-top: 20px;
}
.main-title{
	font-weight: 700;
}
footer {
  
  padding: 20px;
	position: fixed;
   bottom: 0;
   width: 100%;
}
img {
	padding: 10px;
}